.idea/
.vscode/
.history/
.project
.buildpath
.yardoc
.gradle
.devkit-token
*.tgz
*.iws
*.iml
*.ipr
~*
*.~*
dist/
dist-node/
dist-esm/
doc/
out/
build/
#public/
target/
package-lock.json
#node_modules/
metamodel.zip
pnpm-debug.log
Gemfile.lock
gradle-app.setting
gradlew
gradlew.bat
